.card-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #E5E5E5;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 5px;
    width: fit-content;
}

.card-tag span {
    height: 10px;
    width: 10px;
    background-color: rgb(134, 134, 134);
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.card-tag div {

}